<body>
    <div class="session">
      <div class="left"></div>
      <div action="" class="log-in" autocomplete="off">
        <h4>Barrio Fino <span>Driver</span></h4>
        <p>Admin</p>
        <div class="floating-label">
          <mat-form-field>
            <mat-label>User</mat-label>
            <input matInput [formControl]="user" type="text" name="usuario" id="usuario" autocomplete="off">
            <mat-error *ngIf="user.hasError('required')">User Required</mat-error>
          </mat-form-field>
        </div>
        <br>
        <div class="floating-label">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input [formControl]="password" matInput [type]="hide ? 'password' : 'text'">
            <!--<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>-->
            <mat-error *ngIf="password.hasError('required')">Password Required</mat-error>
          </mat-form-field>
        </div>
        <button (click)="login()">Log in</button>
        <a href="https://codepen.io/elujambio/pen/yjwzGP" class="discrete" target="_blank"></a>
      </div>
    </div>
  </body>
