<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" id="navbar-high" class="app-sidenav" opened> <!--[class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"-->
    <mat-toolbar id="menu-toolbar"  class="toolbar" color="primary">
      <span class="toolbar-filler text-center" *ngIf="user">{{ user.user }} <hr></span>
      <button mat-icon-button (click)="toggleMenu(sidenav)" class="mat-icon-button sidenav-toggle-button">
        <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="getTitulo('Management', sidenav)" class="sidenav-link" [routerLink]="['/home/management']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        matTooltip="Acciones y Opciones Principales" matTooltipPosition="right">
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <span class="title" mat-line>Management</span>
      </a>
      <a mat-list-item (click)="getTitulo('Driving', sidenav)" class="sidenav-link" [routerLink]="['/home/driving']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        matTooltip="Agregar, Modificar, Eliminar Menus y Bebidas" matTooltipPosition="right">
        <mat-icon mat-list-icon>gps_fixed</mat-icon>
        <span class="title" mat-line>Driving</span>
      </a>
      <a mat-list-item (click)="getTitulo('Taxi Drivers', sidenav)" class="sidenav-link" [routerLink]="['/home/taxi-drivers']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        matTooltip="Seguimiento del estado de las Ordenes" matTooltipPosition="right">
        <mat-icon mat-list-icon>local_taxi</mat-icon>
        <span class="title" mat-line>Taxi Drivers</span>
      </a>

      <a mat-list-item (click)="getTitulo('Customers', sidenav)" class="sidenav-link" [routerLink]="['/home/customers']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        matTooltip="Seguimiento del estado de las Ordenes" matTooltipPosition="right">
        <mat-icon mat-list-icon>people</mat-icon>
        <span class="title" mat-line>Customers</span>
      </a>

      <a mat-list-item (click)="getTitulo('Settings', sidenav)" class="sidenav-link" [routerLink]="['/home/settings']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        matTooltip="Seguimiento del estado de las Ordenes" matTooltipPosition="right">
        <mat-icon mat-list-icon>build</mat-icon>
        <span class="title" mat-line>Settings</span>
      </a>

      <!--<a mat-list-item  class="sidenav-link" [matMenuTriggerFor]="menu"
          matTooltip="Administrar Cuentas de los Clientes, Cocineros y Repartidores" matTooltipPosition="right">
        <mat-icon mat-list-icon>people</mat-icon>
        <span class="title" mat-line>Customers</span>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item [routerLink]="['/home/clientes']" routerLinkActive="active"
              (click)="getTitulo('Usuarios > Clientes', sidenav)">
            <mat-icon>contacts</mat-icon>
            <span>aaa</span>
          </button>
          <button mat-menu-item [routerLink]="['/home/repartidores']" routerLinkActive="active"
              (click)="getTitulo('Usuarios > Repartidores', sidenav)">
            <mat-icon>setting</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item [routerLink]="['/home/cocineros']" routerLinkActive="active"
              (click)="getTitulo('Usuarios > Cocineros', sidenav)">
            <mat-icon>restaurant</mat-icon>
            <span>Cocineros</span>
          </button>
        </mat-menu>
      </a>-->
      <a mat-list-item class="sidenav-link" (click)="logout()"
          matTooltip="Cerrar Sesion" matTooltipPosition="right">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span class="title" mat-line>Exit</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar"  color="primary">
    <button mat-icon-button (click)="toggleMenu(sidenav)" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons" id="menuicon">menu</mat-icon>
    </button>
    <!--<h1 class="component-title">
      <a class="title-link">{{title}}</a>
    </h1>-->
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>

