
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#navbar-high {
  visibility: visible;
}
#navbar-small {
  visibility: hidden;
}
.sidenav-container {
  height: 100%;
}
mat-sidenav{
  width: 280px;
  background-color: #f6f4f5 !important;
}

#menu-toolbar {
  background-color: #f6f4f5 !important;
}

.sidenav .mat-toolbar {
  background: inherit;;
}

#navbar-high.menu-close {
  transition: .2s;
  width: 60px !important;
}
#navbar-high.menu-open {
  transition: .2s;
  width: 260px !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: transparent;
  color: #555555 !important;
}

.toolbar-fullscreen {
  display: none;
}

.toolbar-filler {
  margin-top: 25px;
  flex: 1 1 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder !important;
  color: black;
  font-size: 14px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.toolbar{
  background-color: white !important;
  color: black !important;
}
a {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(54, 54, 54) !important;
  mat-icon {
    color: gray !important;
  }
}
mat-nav-list {
  padding-left: 15px !important;
  padding-right: 15px !important;
  a {
    font-size: 13px;
  }
}
.active {
  background-color: var(--primario) !important;
  color: white !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 15px rgba(189,189,189,1);
  -moz-box-shadow: 0 3px 15px rgba(189,189,189,1);
  box-shadow: 0 3px 15px rgba(189,189,189,1);
  transition: 1s;
  mat-icon {
    color: white !important;
  }
}

@media screen and (max-width: 768px) {
  #navbar-high {
    visibility: hidden;
  }
  #navbar-small {
    visibility: visible;
  }
}
