<div class="container">

  <h2>Management</h2>
  <div class="row" >

    <div class="col-md-4">
      <div class="container solicitudes" id="card">
        <div class="row">
          <div class="col-md-4 icon">
            <div class="icon-border">
              <em class="far fa-hand-paper"></em>
            </div>
          </div>
          <div class="col-md-8 data">
            <h1>20</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 title">
            <p>Solicitudes</p>
          </div>
          <div class="col-md-8 fecha">
            <p>Diarias</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="container carreras" id="card">
        <div class="row">
          <div class="col-md-4 icon">
            <div class="icon-border">
              <em class="fas fa-taxi"></em>
            </div>
          </div>
          <div class="col-md-8 data">
            <h1>20</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 title">
            <p>Carreras</p>
          </div>
          <div class="col-md-8 fecha">
            <p>Diarias</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="container ingresos" id="card">
        <div class="row">
          <div class="col-md-4 icon">
            <div class="icon-border">
              <em class="fas fa-dollar-sign"></em>
            </div>
          </div>
          <div class="col-md-8 data">
            <h1>$315.95</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 title">
            <p>Ingresos</p>
          </div>
          <div class="col-md-8 fecha">
            <p>Diarios</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br><br>
  <div class="row" style="background-color: white;">
    <div class="col-md-4" style="background-color: white;">
      <div class="row container">
        <div class="col-md-12">
          <app-donut-chart></app-donut-chart>
        </div>
    </div>
    <div class="row container">
      <div class="col-md-12">
        <app-donut-chart></app-donut-chart>
      </div>
  </div>
    </div>
    <div class="col-md-8"><app-line-chart></app-line-chart></div>
  </div>

</div>

