

.container {
  //background-color: rgb(255, 242, 218);
}

#card {
  height: 130px;
  border-radius: 20px;
}

.solicitudes {
  background-color: #ebfdef;
}

.datos {
  background-color: #e8eff9;
}

.datos2 {
  background-color: #ffefe7;
}
