

.container {
  //background-color: rgb(255, 242, 218);
}

#card {
  height: 130px;
  border-radius: 20px;
}

.solicitudes {
  background-color: #ebfdef;
}

.carreras {
  background-color: #e8eff9;
}

.ingresos {
  background-color: #ffefe7;
}

.title {
  background-color: transparent;
  border-right: 1px solid rgba(128, 128, 128, 0.514);
  border-bottom-left-radius: 20px;
  color: black;
}
.icon {
  background-color: transparent;
  border-right: 1px solid rgba(128, 128, 128, 0.514);
  border-top-left-radius: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    color: white;
  }
}
.data {
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  h1 {
    font-size: 35px;
  }
}

.fecha {
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
